---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Miquel, aunque muchos me llaman por mi apellido, Roca. 
      Comencé a <strong>estudiar programación</strong> porque quería alejarme de los libros de texto y hacer todo con el ordenador. Aunque en un principio no tenía mucho que ver, esa curiosidad me llevó a descubrir una pasión. 
      Hoy, <strong>disfruto cada proyecto que desarrollo y siempre busco nuevos retos</strong>.
    </p>

    <p>
      Recién graduado en <strong>Desarrollo de Aplicaciones Web</strong>, busco una oportunidad para demostrar mis habilidades, 
      <strong>crecer en el sector y contribuir en todo lo que sea necesario</strong>. Aunque mi <strong>experiencia</strong> aún es <strong>limitada</strong>, con algunos proyectos personales en mi haber, 
      estoy comprometido a aportar <strong>trabajo duro, dedicación y aprendizaje constante</strong> para alcanzar <strong>grandes resultados</strong>.
    </p>
  </div>


</article>
