---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Miquel, though many call me by my last name, Roca. 
      I started <strong>studying programming</strong> because I wanted to move away from textbooks and do everything on the computer. Although it initially didn't have much to do with it, that curiosity led me to discover a passion. 
      Today, <strong>I enjoy every project I develop and always seek new challenges</strong>.
    </p>

    <p>
      Recent graduate in <strong>Web Application Development</strong>, seeking an opportunity to demonstrate my skills, 
      <strong>grow in the industry, and contribute in any way necessary</strong>. Although <strong>my experience</strong> is still <strong>limited</strong>, with a few personal projects under my belt, I am committed to bringing
      <strong>hard work, dedication, and continuous learning</strong> to achieve <strong>great results</strong>.
    </p>
  </div>


</article>
