---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "September 2024 - Present",
    title: "Warehouse worker",
    company: "SEUR",
    description:
      "I develop plugins for WordPress, design and migrate frameworks for the company's main website, creating custom solutions and optimizing the user experience in each section.",
  },
  {
    date: "March 2024 - June 2024",
    title: "Web Developer Internship",
    company: "Soluciones Abiertas SL",
    description:
      "Responsible for the reception, storage, and preparation of orders, as well as inventory control and warehouse maintenance. Experienced in handling loading equipment and providing logistical support in daily operations.",
  },
  {
    date: "July 2021 - August 2021",
    title: "Waiter",
    company: "Forn la Vall",
    description:
      "Responsible for receiving and serving orders with attention to detail, managing payments accurately, and maintaining cleanliness in the work area to ensure a comfortable and professional environment.",
  },
  {
    date: "July 2021 - August 2021",
    title: "Baker",
    company: "Forn la Vall",
    description:
      "Responsible for the preparation and baking of bread and pastries, as well as for creating detailed finishes on cakes and other products. Constant focus on maintaining high standards of quality in pastry production.",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
