---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Septiembre 2024 - Actualidad",
    title: "Mozo Almacén",
    company: "SEUR",
    description:
      "Desarrollo plugins para WordPress, diseño y migración de frameworks de la página web principal de la empresa, creando soluciones personalizadas y optimizando la experiencia del usuario en cada sección.",
  },
  {
    date: "Marzo 2024 - Junio 2024",
    title: "Prácticas Desarrollador Web",
    company: "Soluciones Abiertas SL",
    description:
      "Responsable de la recepción, almacenamiento y preparación de pedidos, así como del control de inventarios y mantenimiento del almacén. Experiencia en el manejo de equipos de carga y apoyo logístico en las operaciones diarias.",
  },
  {
    date: "Julio 2021 - Agosto 2021",
    title: "Camarero",
    company: "Forn la Vall",
    description:
      "Encargado de recibir y servir las comandos con atención al detalle, gestionar los cobros de manera precisa y mantener la limpieza del área de trabajo para asegurar un ambiente cómodo y profesional.",
  },
  {
    date: "Julio 2021 - Agosto 2021",
    title: "Panadero",
    company: "Forn la Vall",
    description:
      "Responsable de la preparación y horneado de pan y pasteles, así como de la elaboración de acabados detallados en tortas y otros productos. Enfoque constante en mantener altos estándares de calidad en la producción de pastelería.",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
