---
import Php from "./icons/Php.astro"
import Javascript from "./icons/Javascript.astro"
import React from "./icons/React.astro"
import Angular from "./icons/Angular.astro"
import Laravel from "./icons/Laravel.astro"
---

<div class="flex flex-col gap-y-6 mt-4">
    <div class="flex flex-wrap gap-x-3 justify-between">
        <div class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-purple-200 border border-gray-300 rounded-full dark:bg-purple-800 dark:border-purple-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-purple-900 hover:border-purple-700 hover:text-white dark:hover:bg-purple-200 dark:hover:border-purple-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <Php class="size-4" />
            PHP
        </div>
        <div class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-yellow-100 border border-gray-300 rounded-full dark:bg-yellow-800 dark:border-yellow-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-yellow-900 hover:border-yellow-700 hover:text-white dark:hover:bg-yellow-100 dark:hover:border-yellow-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <Javascript class="size-4" />
            Javascript
        </div>
        <div class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-red-200 border border-gray-300 rounded-full dark:bg-red-800 dark:border-red-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-red-900 hover:border-red-700 hover:text-white dark:hover:bg-red-200 dark:hover:border-red-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <Angular class="size-4" />
            Angular
        </div>
        <div class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-sky-200 border border-gray-300 rounded-full dark:bg-sky-800 dark:border-sky-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-sky-900 hover:border-sky-700 hover:text-white dark:hover:bg-sky-200 dark:hover:border-sky-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <React class="size-4" />
            React
        </div>
        <div class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-red-100 border border-gray-300 rounded-full dark:bg-red-800 dark:border-red-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-red-900 hover:border-red-700 hover:text-white dark:hover:bg-red-100 dark:hover:border-red-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <Laravel class="size-4" />
            Laravel
        </div>
    </div>
</div>
